.PageNotFound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;


  width: 100%;
  height: 100vh;

  &__container {
    position: absolute;

    border-radius: 50%;

    width: 100px;
    height: 100px;

    text-align: center;

    background-image: url(../images/cosmos.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition: all 0.3s;

    animation-duration: 2s;
    animation-timing-function: linear;
    animation-name: openSpace;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-delay: 0.5s;
  }

  &__text {
    z-index: 1;

    font-size: 60px;
    font-weight: bold;
    color: white;

    @media (max-width: 700px) {
      font-size: 20px;
    }
  }

  &__link {
    z-index: 1;
    display: block;

    border: 1px solid white;
    padding: 10px;

    color: white;

    font-weight: normal;
    font-size: 18px;

    transition: all 0.5s;

    &:hover {
      transform: scale(1.5);
      background-color: white;
      color: darkblue;
    }
  }
}

@keyframes openSpace {
  0% {
    width: 100px;
    height: 100px;
  }

  50% {
    width: 70vmax;
    height: 70vh;
  }

  75% {
    width: 90vmax;
    height: 90vh;
    border-radius: 30%;
  }

  100% {
    width: 100vmax;
    height: 100vh;
    border-radius: 0;
  }
}
